php_flag register_globals on
php_flag display_errors On

RewriteEngine on
Options -Indexes  +FollowSymlinks

RewriteBase /
RewriteRule ^.htaccess$ - [F]





RewriteRule ^(.*)/([0-9]+).htm$ /products.php?category=$1&id=$2

RewriteRule ^(.*)/([0-9]+)/price-desc.htm$ /products.php?category=$1&id=$2&sort=price-desc
RewriteRule ^(.*)/([0-9]+)/price.htm$ /products.php?category=$1&id=$2&sort=price

RewriteRule ^(.*)/([0-9]+)/([0-9]+).htm$ /products.php?category=$1&id=$2&cid=$3






